<section style="margin-top:100px">
  <h1 style="font-size:18px"><a href="#">Hi, I'm Michal. I write code.</a></h1>
  <p>I'm java/java ee developer who loves programming for web. Off-hours I also play with other languages like groovy, ruby, and coffescript. I care about code quality and creating right software the right way.</p>
  <a href="http://twitter.com/mostruszka"><img src="/images/icons/appbar.twitter.png" style="border:none; width:32px"/></a>
  <a href="http://github.com/mostr"><img src="/images/icons/appbar.github.png" style="border:none; width:32px"/></a>
  <a href="http://linkedin.com/in/michalostruszka"><img src="/images/icons/appbar.linkedin.png" style="border:none; width:32px"/></a>
  <a href="/atom.xml"><img src="/images/icons/appbar.rss.png" style="border:none; width:32px"/></a>
</section>
