<section>
	<div style="float:right; margin-bottom: 50px; border-top: 7px solid #999">
		<nav style="font-size:18px">
			<span style="margin-left:20px"><a href="#">Home</a></span>
			<span style="margin-left:20px"><a href="#">Archives</a></span>
		</nav>		
	</div>
</section>
<section style="clear: both">
  <h1 style="font-size:22px"><a href="#"><span>Hi, I'm Michał.</span> <span style="color:#555">I write code.</span></a></h1>
  <p>I'm java/java ee developer who loves programming for web. Off-hours I also play with other languages like groovy, ruby, and coffescript. I care about code quality and creating right software the right way. I'm test-infected. <a href="http://twitter.com/mostruszka"> Read on.</a>
  </p>
  <p style="margin-left:-8px">
  <a href="http://twitter.com/mostruszka"><img src="/images/icons/appbar.twitter.png" style="border:none; width:32px"/></a>
  <a href="http://github.com/mostr"><img src="/images/icons/appbar.github.png" style="border:none; width:32px"/></a>
  <a href="http://linkedin.com/in/michalostruszka"><img src="/images/icons/appbar.linkedin.png" style="border:none; width:32px"/></a>
  <a href="/atom.xml"><img src="/images/icons/appbar.rss.png" style="border:none; width:32px"/></a>
</p>
</section>
