<section>
  <h1>Hi, I'm Michał</h1>
  <p>I'm java developer on a daily basis. I like webapps and create web stuff with <em>java ee</em>. Off-hours I play with modern web tools and hack with <em>ruby</em>, and <em>coffescript</em>. I&nbsp;care about code quality.</p>
  <br/>
  <img src="/images/icons/appbar.twitter.png" style="border:none; width:32px"/>
  <img src="/images/icons/appbar.github.png" style="border:none; width:32px"/>
  <img src="/images/icons/appbar.linkedin.png" style="border:none; width:32px"/>
</section>
