<hgroup>
	<h2 style="color:#CC211B; font-size:24px">Hi, I'm Michał. I write code.</h2>
	<div>
	<p style="margin-top:5px; font-size:16px; color:#999">I'm java/java ee developer who loves programming for web. Off-hours I also play with other languages like groovy, ruby, and coffescript. I care about code quality and creating right software the right way. I'm test-infected. <a href="http://twitter.com/mostruszka"> Read on.</a>
	</p>
	</div>
	<p style="margin-left:-7px">
	<a href="http://twitter.com/mostruszka"><img src="/images/icons/appbar.twitter.png" style="border:none; width:32px"/></a>
	<a href="http://github.com/mostr"><img src="/images/icons/appbar.github.png" style="border:none; width:32px"/></a>
	<a href="http://linkedin.com/in/michalostruszka"><img src="/images/icons/appbar.linkedin.png" style="border:none; width:32px"/></a>
	<a href="/atom.xml"><img src="/images/icons/appbar.rss.png" style="border:none; width:32px"/></a>
	</p>
</hgroup>
