<hgroup>
	<h2 style="color:#CC211B; font-size:24px"><a href="{{ root_url }}/">Hi, I'm Michal. I write code.</a></h2>
	<p style="margin-top:5px; font-size:16px; color:#999; margin-bottom:0.5em">I'm software developer who likes coding stuff for web. <span class="more">I work mostly in java and java ee. </span>I care about simple design and code quality. I'm test-infected. <span class="more">Here are my notes about software development craft.</span><a href="{{ root_url }}/about"> Read&nbsp;more.</a>
	</p>
	<p style="margin-left:-7px; margin-bottom:0.5em" class="social">
	<a href="http://twitter.com/mostruszka"><img src="/images/icons/appbar.twitter.png" style="border:none; width:32px"/></a>
	<a href="http://github.com/mostr"><img src="/images/icons/appbar.github.png" style="border:none; width:32px"/></a>
	<a href="http://linkedin.com/in/michalostruszka"><img src="/images/icons/appbar.linkedin.png" style="border:none; width:32px"/></a>
	<a href="/atom.xml"><img src="/images/icons/appbar.rss.png" style="border:none; width:32px"/></a>
	</p>
</hgroup>
